@charset "UTF-8";
/* Карточка */
.wrapper__head {
  margin-bottom: 0px;
}

.main {
  margin-bottom: 120px;
}

.main__card {
  border: 1px solid #eaeaea;
  width: 1141px;
  height: 601px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  top: 5%;
  -webkit-transform: translateY(-11%);
  transform: translateY(-11%);
}

.main__card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__card__title {
  line-height: 27px;
  font-weight: 700;
  color: #f16d7f;
  margin-bottom: 12px;
}

.main__card__titl {
  margin-bottom: 48px;
  line-height: 22px;
  color: #4D4D4D;
  font-weight: normal;
  font-size: 18px;
}

.main__card__txt {
  line-height: 16.8px;
  color: #5E5E5E;
  text-align: center;
  margin-bottom: 32px;
  padding: 0px 6%;
}

.column__card__mtr {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
  margin: 0px 28px;
}

.column__card__col {
  color: #2f2f2f;
}

.main__card__column {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.main__card__prise {
  font-size: 24px;
  line-height: 28.8px;
  color: #ef5b70;
  margin-bottom: 64px;
}

.main__card__chosse__title {
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
}

.main__card__border {
  border: 1px solid #EAEAEA;
  width: 642px;
  margin-bottom: 65px;
}

.main__card__bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ef5b70;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.main__card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 54px 10px 24px;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #ef5b70;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.main__card__btn svg {
  margin-right: 24px;
}

.main__card__btn:hover {
  background: #ef5b70;
  color: white;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.main__card__cheds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 537px;
  width: 100%;
  margin-bottom: 27px;
}

.product__img__smg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fa-angle-left, .fa-angle-right {
  position: absolute;
  top: 10px;
  left: 21px;
  color: #000;
  font-size: 24px;
}

.product__img__one:hover .fa-angle-left {
  color: #F16D7F;
}

.product__img__two:hover .fa-angle-right {
  color: #F16D7F;
}

.product__img__sm {
  position: absolute;
  top: 19px;
  left: 20px;
  color: #000;
}

.product__img__sml {
  position: absolute;
  top: 19px;
  left: 20px;
}

.product__img__one {
  position: absolute;
  right: 394px;
  top: 50%;
  display: block;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}

.product__img__two {
  position: absolute;
  left: 1000px;
  top: 50%;
  display: block;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
}

.product__img__two:hover {
  opacity: 0.5;
  cursor: pointer;
}

.product__img__one:hover {
  opacity: 0.5;
  cursor: pointer;
}

.product__im {
  vertical-align: top;
  max-width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f7f7f7;
  padding-top: 11px;
  padding-bottom: 2%;
  position: relative;
}

.select-card {
  margin-bottom: 48px;
}

.borders {
  border: 1px solid #EF5B70;
  width: 63px;
  margin-bottom: 12px;
}

.products {
  margin-bottom: 156px;
}
.products__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.products__item {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.main__card__bt, .main__card__btn:hover path {
  fill: white;
}

.head {
  margin-bottom: 0px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=product.css.map */