
@import "_vars.scss";




* {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }

  path {
    transition: background-color 0.3s;
  }
  a {
    text-decoration: none;
    color: #222222;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  aside, nav, footer, header, section {
    display: block;
  }
  
  // html, body {
  //   height: 100%;
  //   min-width: 320px;
  // }
  
  body {
    line-height: 1;
    font-size: 14px;
    font-family: "Lato";
  }
//  Прижатие футера
  html, body{
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper__content {
    flex-grow: 1;
}

  
  input, button, textarea {
    font-family: "Lato";
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
    max-width: 100%;
  }
  
  .header {
    position: relative;
    height: 75px;
    background-color: #222222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            position: relative;
  }
  
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 41px;
  }
  
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
  
  .center {
    padding-left: calc(50% - #{$widthSite / 2});
    padding-right: calc(50% - #{$widthSite / 2});
  }
  
  .top {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    background-color: #F1E4E6;
    display: flex;
  }
  
  .top__img {
    width: 50%;
  }
  
  .top__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
    
  .top__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 57.6px;
    color: #222222;
  }
  
  .top__heading-mini {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
  }
  
  .top__sp {
    color: #F16D7F;
  }

  .top__right {
    padding-left: 64px;
    box-sizing: border-box;
  }
  
  .top__img, .top__right {
    width: 50%;
}     

  .top__content {
    margin-top: 40%;
    border-left: 12px solid $colorSite;
    padding-left: 16px;
  }

  .sale {
    margin-top: 64px;
  }
  
  .sale__item {
    position: relative;
  }
  
  .sale__img {
    width: ($widthSite - 2 * $gapGrid) / 3;
  }
  
  // .sale__item_big {
  //   width: $widthSite;
  // }

  .sale__text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .sale__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }
  
  .sale__p {
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
  }
  
  .sale_txt_min {
    font-weight: bold;
    font-style: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
    font-weight: 700;
  }
  
  .products__items {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-bottom: 48px;
  }
  
  .products__item {
    position: relative;
    background: #F8F8F8;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-rows: auto 1fr minmax(40px, auto);
    -ms-grid-columns: 1fr;
        grid-template: auto 1fr minmax(40px, auto)/1fr;
  }
  
  .products__image {
    display: block;
    position: relative;
    padding: 0px 0px 120% 0px;
    margin-bottom: 24px;
  }
  
  .products__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .product__main-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #222222;
    text-align: center;
    margin-top: 100px;
  }
  
  .product__sub-title {
    font-size: 14px;
    font-weight: 400;
    color: #9f9f9f;
    margin-bottom: 60px;
    text-align: center;
    line-height: 17px;
  }
  
  .item-txt-box {
    padding-left: 18px;
    padding-right: 30px;
  }
  
  .box-prise {
    padding-bottom: 18px;
  }
  
  .item-desc-s {
    font-weight: 300;
    font-size: 14px;
    line-height: 16.8px;
    color: #5D5D5D;
    margin-bottom: 18px;
  }
  
  .item-desc {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 12px;
  }
  
  .item-prise {
    font-size: 16px;
    line-height: 19.2px;
    color: #F16D7F;
    font-weight: 400;
  }
  
  .add-box {
    position: absolute;
    top: 35%;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
  
  .add {
    border: 1px solid white;
    padding: 10px;
    width: 138px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .products__item .add:hover {
    -webkit-box-shadow: 0 0px 10px white;
    box-shadow: 0 0px 10px white;
  }
  
  .products__item:hover {
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }
  
  .add-txt {
    color: #ffffff;
    margin-left: 8px;
    font-size: 14px;
    line-height: 17px;
  }
  
  .products__item:hover .add-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .products__item:hover .item-img {
    -webkit-filter: brightness(30%);
    filter: brightness(30%);
  }
  
  .product__buton {
    margin-bottom: 94px;
  }
  
  .all_product {
    display: inline-block;
    padding: 15px 39px;
    text-align: center;
    color: #F16D7F;
    border: 1px solid #FF6A6A;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .all_product:hover, .all_product:focus, .all_product:active {
    background: #d15263;
    color: white;
  }
  
  .buton__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .adventas {
    background-color: #222224;
  }
  
  .advan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 51px;
    padding-bottom: 51px;
    
  }
  
  .advan__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-falign: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .advan__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .advan__title {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
    margin-top: 28px;
  }
  
  .advan__txt {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    text-align: center;
  }
  
  .footer__wrap {
    background-image: url(../img/rectangle_9_2194_1.png);
    background-position: 0 0;
    background-size: cover;
    background-size: 100% 100%;
    position: relative;
    padding: 0 0 0.01% 0;
  }
  
  .footer__main {
    display: flex;
    flex-wrap: wrap;
    max-height: 440px;
    margin-bottom: 156px;
    gap: 223px;
  }
  
  .footer__review {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    font-weight: 500;
    padding: 0px 24px;
    max-width: 359px;
    padding-right: 0px;
  }
  .reviews-img {
    margin-bottom: 30px;
    margin-top: 86px;
  }
  .footer__subscribe {
    justify-items: start;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer .reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px -5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .footer .subscribe__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
    // margin-top: 155px;
   
  }
  
  .footer .subscribe__txt {
    font-size: 18px;
    line-height: 30.1px;
    text-transform: none;
    font-weight: 400;
  }
  
  .footer .subscribe__form {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .footer .subscribe__input {
    width: 100%;
    padding: 0px 18px;
    background-color: #e1e1e1;
    border-radius: 23px 0px 0px 23px;
    opacity: 0.67;
    font-weight: 400;
    letter-spacing: 0.025em;
    min-width: 256px;
  }
  
  .footer .subscribe .subscribe__input:focus {
    border: white;
    background-color: white;
  }
  
  .footer .subscribe__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 104px;
            flex: 0 0 104px;
    height: 46px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    cursor: pointer;
  }
  
  .footer .subscribe .subscribe__button:hover, .footer .subscribe .subscribe__button:focus, .footer .subscribe .subscribe__button:active {
    background: #d15263;
  }
  
  .footer .footer__neither-wrap {
    background-color: #222224;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .footer .neither-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .footer .neither-footer__txt {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FBFBFB;
    // margin-left: 90px;
  }
  
  .footer .neither-footer__icon {
    width: 32px;
    height: 32px;
  }
  
  .footer .neither-footer .fab {
    font-size: 32px;
    color: white;
  }
  
  .footer .neither-footer .fab:last-of-type {
    margin-right: 0;
  }
  
  .footer .neither-footer .fab:hover {
    color: #f27e8e;
    transition: transform .3s;
  }

.a-hover:hover path {
    fill: #F16D7F;
    transition: transform .3s;
}

.a-hover-men:hover path {
    fill: #F16D7F;
    transition: transform .3s;
    cursor: pointer;
    }

.a-hover-br:hover path {
    fill: #F16D7F;
    transition: transform .3s;
    }

.a-hover-right:hover path {
    fill: #F16D7F;
    transition: transform .3s;
    }


.products__item:hover {
  transform: scale(1.05);
      }
      
.products__item {
  transition: transform .3s;
        }
 
  
  .buton__more {
    margin-top: 48px;
  }
// стили для фильтра

.btn-search {
  background-color: transparent;
  border: none;
  color: #fafafa;
  font-size: 1.5em;
  position: absolute;
  right: 0;
}
.search-form{
  margin-top: 9px;
  position: relative;

}
.search-field:focus{
  outline: none;
}
.search-field {
  box-sizing: border-box;
  color: #fafafa;
  width: 200px;
  padding: 7.9px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fafafa;

}
.invisible {
  display: none;
}

.logo__search {
  margin-top: 10px;
}

// стили для корзины

.cart {
	position: relative;
	transition: background-color 0.3s;
}

.cart-block {
  cursor: default;
	width: 440px;
	position: absolute;
	top: 140%;
	right: 10px;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
  z-index: 100;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  max-height: 330px;
  padding: 10px;
  overflow: auto;
}

.product-bio {
  display: flex;
  align-items: center;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  padding-right: 13px;
  transition: background-color 0.3s;
  align-items: center;
  justify-content: space-between;
}

.cart-item:hover {
  background: rgba(202, 154, 154, 0.1);
  transition: background-color 0.3s;
  }

  .cart-image {
    margin-right: 10px;
	max-width: 100px;
	max-height: 100px;
	object-fit: cover;
  }

 .product-title {
   max-width: 300px;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: $colorDark;
   margin-bottom: 8px;
   font-weight: 700;
   color: $colorSite;
 }

 .cart-text {
  max-width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $colorDark;
  margin-bottom: 8px;
  font-weight: 700;
  color: $colorSite;
 }

 .product-single-price {
  max-width: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $colorDark;
  margin-bottom: 8px;
  margin-top: 10px;
 }

 .product-price {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: $colorSite;
  margin-top: 8px;
 }

 .product-desc {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  width: 150px;
   
 }

 .right-block {
   display: flex;
   gap: 20%;
   justify-content: space-between;
   align-items: center;
   flex: 50%;
 }


.del-btn {
border: none;
	background-color: transparent;
	cursor: pointer;
	background-image: url("../img/trash.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex-shrink: 0;
	width: 25px;
	height: 25px;
	padding: 0;
}

.cart-content__btn {
  display: inline-block;
	width: 240px;
	text-align: center;
  order: none;
    padding: 14px 0;
    border-radius: 4px;
    color: #fff;
    background-color: $colorSiteDark;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  
}

.cart-content__btn:hover {
  color: $colorSite;
  background-color: #fff;
  border: 1px solid $colorSite;

}

.simplebar-track.simplebar-vertical {
	width: 4px;
	background: rgba(77, 77, 77, 0.1);
	border-radius: 5px;
	right: 5px;
	margin-top: 20px;
	height: calc(100% - 40px);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
	background: rgba(77, 77, 77, 0.2);
	border-radius: 5px;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
}
.account__cartSvg {
  background-color: #222222;
  text-decoration: none;
}


// Количество товаров в корзине 
.account_basket_circle {
  position: absolute;
	// right: 100px;
	top: 50%;
	transform: translateY(-50%);
	margin-top: -15px;
  margin-left: 25px;
	background-color: $colorSiteDark;
	border-radius: 100%;
	padding: 2px;
	color: #fff;
	font-size: 14px;
	min-height: 17px;
	min-width: 17px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}



// корзина

.error-msg {
  padding: 30px 20px;
  background-color: red;
  color: white;
  position: relative;
}
.error-block {
  background-color: rgba(0,0,0, .5);
  justify-content: center;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 100;
}

.burger {
  padding: 0px;
  border: none;
  background: none;
}

.burger:hover {
  cursor: pointer;
  color: $colorSite;
  
  transition: transform .3s;
  cursor: pointer;
  
}
.cart-summsp {
  margin-right: 7px;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-mod {
  font-size: 20px;
  font-weight: 900;
}

/*Overlay Promo*/
.overlay-promo {
  z-index: 9;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  height: 765px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: all 0.5s;
}

.overlay-promo-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: all .5s;
}

.overlay-promo-menu {
  position: relative;
  padding-top: 37px;
  padding-left: 34px;
  height: 765px;
  width: 232px;
  background: #FFFFFF;
  list-style-type: none;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.overlay-promo-menu__close {
  padding: 0px;
  border: none;
  background: none;
  right: 17px;
  top: 16px;
  position: absolute;
  opacity: 1;
}

.overlay-promo-menu__close:hover {
  opacity: 0.3;
}

.overlay-promo-menu__close:before, .overlay-promo-menu__close:after {
  position: absolute;
  content: '';
  height: 18px;
  width: 2px;
  background-color: #575757;
}

.overlay-promo-menu__close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.overlay-promo-menu__close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.overlay-promo-menu__head1 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-family: 'Lato', sans-serif;
}

.overlay-promo-menu__head1::before {
  content: none;
}

.overlay-promo-menu__head2 {
  margin-top: 21px;
  font-size: 14px;
  color: #F16D7F;
  font-family: 'Lato', sans-serif;
}

.overlay-promo-menu__head2a:hover {
  color: black;
}

.overlay-promo-menu-category {
  list-style-type: none;
  margin-top: 13px;
  padding-left: 21.5px;
}

.overlay-promo-menu-category li {
  margin-top: 12px;
}

.overlay-promo-menu-category li:nth-child(5) {
  margin-top: 16px;
  margin-bottom: 16px;
}

.overlay-promo-menu-category__list {
  font-size: 14px;
  color: #6F6E6E;
  font-family: 'Lato', sans-serif;
}

.overlay-promo-menu-category__list:hover {
  color: #F16D7F;
}


@import "cart";
@import "catalog";
@import "registration";
@import "product";
@import "m1023";
@import "m767";









